services:
  backend-downloader:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: youtube-downloader-backend
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - myapp-network

networks:
  myapp-network:
    name: myapp-network
    driver: bridge
